services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: sh -c "python manage.py makemigrations && python manage.py migrate && python manage.py createcachetable || true && gunicorn crm_backend.wsgi:application --bind 0.0.0.0:8000"
    ports:
      - "8001:8000"
    env_file:
      - .env.prod
    restart: unless-stopped
    networks:
      - database_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL:-https://crm.archeo.kz/api}
    ports:
      - "3000:3000"
    env_file:
      - .env.prod
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL:-https://crm.archeo.kz/api}
      - NODE_OPTIONS=--enable-source-maps
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - database_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  database_network:
    external: true
